body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d6f3f5;
}

main {
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  width: 100vh;
  padding: 0.625rem;
  height: 90vh;
}
