body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d6f3f5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  width: 50vh;
  /* padding: 0.625rem; */
  height: min-content;
  padding-left: 16%;
  padding-right: 16%;
}

/*Form content*/

h1 {
  text-align: center;
  font-style: italic;
}

.todoForm {
  width: 60vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.clearButtons > .clearAllButton {
  margin-bottom: 20%;
  background-color: unset;
  border: none;
}

.clearButtons > .clearAllButton + .clearAllButton {
  margin-left: 7rem; /* Add margin only to the second button */
}

.inputContainer {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  width: 50%;
}

.textBar {
  height: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.addButton {
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;

  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  background-color: #49bcff;
  cursor: pointer;
  position: relative;
  right: 53px;
  height: 25px;
  text-align: center;
  margin: 4px;
}

/*Media queries*/

@media (max-width: 480px) {
  main {
    height: 90vh;
    margin-top: 3rem;
    width: auto;
  }

  /*Form styles*/
  .todoForm {
    width: 40vh;
  }

  .inputContainer {
    width: 40vh;
  }

  h1 {
    margin-bottom: 4rem;
  }

  .textBar {
    width: 40vh;
    height: 25px;
    margin-left: 2rem;
  }
  .addButton {
    height: inherit;
  }
}

@media (max-width: 420px) {
  .clearButtons {
    display: inline-flex;
    flex-direction: column;
  }

  .clearButtons > .clearAllButton + .clearAllButton {
    margin-left: 0;
  }
}
